<div id="about" class="w-full py-5 bg-[#706D54]">
  <div class="container mx-auto px-10">
    <h1 class="text-white font-extrabold text-[35px]">
      About <span class="text-[#CBFF8B]">Me</span>
    </h1>
    <p
      class="text-white text-[12px] md:text-[18px] font-regular text-justify border-l-4 border-[#CBFF8B] pl-2 leading-7 md:leading-9"
    >
      I'm Mark Resma Dacurawat, a passionate and driven Software Engineer with a
      fresh perspective and a strong foundation in modern web development. As a
      recent college graduate, I specialize in crafting responsive and dynamic
      web applications using HTML, CSS, JavaScript, and PHP.
      <br />
      My toolkit includes powerful frameworks like React, Laravel, Tailwind CSS,
      and Express, allowing me to build both sleek frontends and solid backends.
      I'm also comfortable with tools like Git, Figma, and VS Code, which I use to
      streamline my workflow and bring ideas to life. I'm excited to grow as a developer,
      take on new challenges, and contribute to meaningful, user-centered projects.
    </p>
  </div>
</div>
