<section class="grid grid-cols-3 h-[520px]">
  <div class="mt-[100px]">
    <h1 class="text-white font-extrabold text-[60px]">Hello There,</h1>
    <h1 class="text-white font-extrabold text-[60px]">
      I'm <span class="text-[#CBFF8B]">Mark</span>
    </h1>
    <p class="text-[#DBDBDB]">
      An aspiring Laravel developer with a solid foundation in PHP and modern
      web development.
    </p>
    <button class="text-[#CBFF8B] underline mt-2">View More</button>
  </div>
  <div class="self-end">
    <img src="/img/mark-halfbody.png" alt="" />
  </div>
  <div class="mt-[100px] text-center">
    <h1 class="text-white font-extrabold text-[60px]">
      {"<? "}<span class="text-[#CBFF8B]">coder</span>{" ?>"}
    </h1>
    <p class="text-[#DBDBDB]">PHP / LARAVEL DEVELOPER</p>
    <img src="/img/arrow-down.png" alt="" class="mt-[20px]" />
  </div>
</section>
