<div
  class="w-full h-[130px] bg-[#352409] flex items-center justify-between gap-4 px-[100px]"
>
  <div>
    <h1 class="text-white text-[22px] font-semibold">Mark Resma Dacurawat</h1>
    <p class="text-[#DBDBDB] text-[13px]">
      Let’s code with love, all right reserve for Mark Dacurawat
    </p>
    <div class="flex gap-4 mt-2">
      <a href="https://www.facebook.com/MarkResmaDacurawat" target="_blank">
        <img src="/img/facebook.svg" alt="" width="30" />
      </a>
      <a href="https://github.com/resmarkz" target="_blank">
        <img src="/img/github.svg" alt="" width="30" />
      </a>
      <a
        href="https://www.linkedin.com/in/mark-resma-dacurawat/"
        target="_blank"
      >
        <img src="/img/linkedin.svg" alt="" width="30" />
      </a>
    </div>
  </div>
  <a href="https://www.facebook.com/inovamatesolutionsph" target="_blank"
    ><img src="/img/inovamate-logo.png" alt="" width="80" /></a
  >
</div>
