<nav class="h-[80px] flex items-center justify-between text-white sticky top-0">
  <img src="/img/resmark-logo.png" alt="" />
  <ul class="flex gap-6 text-xs">
    <li><a href="" class="hover:underline hover:text-[#CBFF8B]">HOME</a></li>
    <li><a href="" class="hover:underline hover:text-[#CBFF8B]">ABOUT</a></li>
    <li><a href="" class="hover:underline hover:text-[#CBFF8B]">PROJECT</a></li>
    <li><a href="" class="hover:underline hover:text-[#CBFF8B]">CONTACT</a></li>
  </ul>
  <span>+63 991 672 3760</span>
</nav>
