---
import FontAwesomeIcon from "./FontAwesomeIcon.astro";
---

<nav
  id="navbar"
  class="w-full py-6 flex flex-col justify-center text-white sticky top-0 z-999 transition-all duration-250 bg-transparent"
>
  <div class="container mx-auto px-10 flex items-center justify-between">
    <img src="/img/resmark-logo.png" alt="Resmark Logo" />
    <ul class="hidden md:flex gap-6 text-xs">
      <li>
        <a href="#hero" class="hover:underline hover:text-[#CBFF8B]">HOME</a>
      </li>
      <li>
        <a href="#about" class="hover:underline hover:text-[#CBFF8B]">ABOUT</a>
      </li>
      <li>
        <a href="#projects" class="hover:underline hover:text-[#CBFF8B]"
          >PROJECT</a
        >
      </li>
      <li>
        <a href="#contacts" class="hover:underline hover:text-[#CBFF8B]"
          >CONTACTS</a
        >
      </li>
    </ul>
    <span class="hidden md:block">+63 991 672 3760</span>
    <span class="cursor-pointer md:hidden z-999" id="menu-btn">
      <FontAwesomeIcon icon="bars" style="fa-solid" class="" />
    </span>
  </div>
</nav>

<!-- Mobile Menu -->
<ul
  id="mobile-menu"
  class="flex md:hidden gap-10 text-xs px-10 bg-[rgba(53,36,9,0.95)] w-screen h-screen fixed top-0 -left-[120%] flex-col items-start justify-center text-white z-[998] transition-all duration-300 ease-in-out"
>
  <li>
    <a
      href="#hero"
      class="hover:underline hover:text-[#CBFF8B] text-2xl hover:font-bold"
      >HOME</a
    >
  </li>
  <li>
    <a
      href="#about"
      class="hover:underline hover:text-[#CBFF8B] text-2xl hover:font-bold"
      >ABOUT</a
    >
  </li>
  <li>
    <a
      href="#projects"
      class="hover:underline hover:text-[#CBFF8B] text-2xl hover:font-bold"
      >PROJECT</a
    >
  </li>
  <li>
    <a
      href="#contacts"
      class="hover:underline hover:text-[#CBFF8B] text-2xl hover:font-bold"
      >CONTACTS</a
    >
  </li>
</ul>

<script is:inline>
  let isMobileMenuOpen = false;
  const mobileMenu = document.getElementById("mobile-menu");
  const menuBtn = document.getElementById("menu-btn");
  const menuIcon = menuBtn.querySelector("i");

  menuBtn.addEventListener("click", () => {
    isMobileMenuOpen = !isMobileMenuOpen;

    isMobileMenuOpen
      ? mobileMenu.classList.add("left-0")
      : mobileMenu.classList.remove("left-0");

    if (isMobileMenuOpen) {
      menuIcon.classList.remove("fa-bars");
      menuIcon.classList.add("fa-times");
    } else {
      menuIcon.classList.remove("fa-times");
      menuIcon.classList.add("fa-bars");
    }
  });
</script>
