<nav
  id="navbar"
  class="h-[80px] flex items-center justify-between text-white sticky top-0 px-[100px] z-10 transition-all duration-250 bg-transparent"
>
  <img src="/img/resmark-logo.png" alt="Resmark Logo" />
  <ul class="flex gap-6 text-xs">
    <li><a href="" class="hover:underline hover:text-[#CBFF8B]">HOME</a></li>
    <li><a href="" class="hover:underline hover:text-[#CBFF8B]">ABOUT</a></li>
    <li><a href="" class="hover:underline hover:text-[#CBFF8B]">PROJECT</a></li>
    <li><a href="" class="hover:underline hover:text-[#CBFF8B]">CONTACT</a></li>
  </ul>
  <span>+63 991 672 3760</span>
</nav>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.getElementById("navbar");

    const handleScroll = () => {
      if (window.scrollY > 50) {
        navbar.style.backgroundColor = "#352409";
        navbar.style.height = "70px";
      } else {
        navbar.style.backgroundColor = "transparent";
        navbar.style.height = "80px";
      }
    };

    window.addEventListener("scroll", handleScroll);

    // Initialize on load in case page is reloaded mid-scroll
    handleScroll();
  });
</script>
