<div class="w-full py-3 bg-[#352409]">
  <div class="container h-full mx-auto px-10 flex items-center justify-center">
    <ul
      class="w-full text-[#656565] flex flex-wrap justify-between items-center gap-4 gap-x-8"
    >
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
      <li>TAILWIND</li>
      <li>NODEJS</li>
      <li>PHP</li>
      <li>LARAVEL</li>
      <li>MYSQL</li>
      <li>GIT</li>
      <li>GITHUB</li>
    </ul>
  </div>
</div>

<style>
  ul li {
    @apply cursor-pointer text-[13px] hover:text-[#CBFF8B];
  }
</style>
