<div
  class="w-full h-[50px] bg-[#352409] flex items-center justify-center px-[100px]"
>
  <ul class="w-full flex items-center justify-between text-[#656565]">
    <li>HTML</li>
    <li>CSS</li>
    <li>JAVASCRIPT</li>
    <li>TAILWIND</li>
    <li>NODEJS</li>
    <li>PHP</li>
    <li>LARAVEL</li>
    <li>MYSQL</li>
    <li>GIT</li>
    <li>GITHUB</li>
  </ul>
</div>
